---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Motel Carpediem - En construcción</title>
	</head>
	<body class="bg-fondo-carpediem bg-cover bg-no-repeat bg-center box-content">

		<section class="h-screen flex flex-col justify-center items-center text-center gap-y-4">
			<img src="./src/assets/img/logo_white.png" class="select-none" width="200" alt="Logo de motel Carpediem">
			<h1 class="text-white font-bold text-3xl font-gill-sans-bold">¡Estamos en construcción!</h1>
			<h3 class="text-white font-gill-sans">Mientras, visítanos en nuestras redes sociales:</h3>
			<div class="flex flex-col sm:flex-row gap-3">
				<a href="https://www.facebook.com/motelcarpediem/" class="px-4 py-2 rounded-full border border-neutral-100  bg-neutral-100 hover:bg-pink-100 transition ease-in-out text-pink-950 font-gill-sans-medium flex flex-row items-center gap-x-1" target="_blank" rel="noreferrer noopener"><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-5" fill="currentColor" viewBox="0 0 24 24"> <path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z" /> </svg> <span class="">Facebook</span></a>
				<a href="https://www.instagram.com/motelcarpediem/" class="px-4 py-2 rounded-full border border-neutral-100 bg-neutral-100 hover:bg-pink-100 transition ease-in-out text-pink-950 font-gill-sans-medium flex flex-row items-center gap-x-1" target="_blank" rel="noreferrer noopener"><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-5" fill="currentColor" viewBox="0 0 24 24"> <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z" /> </svg> <span class="">Instagram</span></a>
				<a href="https://www.tiktok.com/@motelcarpediem" class="px-4 py-2 rounded-full border border-neutral-100 bg-neutral-100 hover:bg-pink-100 transition ease-in-out text-pink-950 font-gill-sans-medium flex flex-row items-center gap-x-1" target="_blank" rel="noreferrer noopener"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="h-4 w-5"> <path fill="currentColor" d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z" /> </svg> <span class="">TikTok</span></a>
			</div>
			<h2 class="text-white font-gill-sans-bold">Nos encontramos en:</h2>
			<div class="text-white flex flex-col items-start gap-y-1">
				<div class="flex flex-row gap-x-2">
					<Image src={markerIcon} alt="" class='select-none' width="24"/>
					<span>Cl. 44 #35-44 - Chiquinquirá</span>
					<a href="https://wa.me/573103662228?text=%C2%A1Hola%21%20Estoy%20interesado%2Fa%20en%20conocer%20disponibilidad%20y%20precios." target="_blank"><span class="inline-flex items-center rounded-md bg-gray-50 hover:bg-pink-100 transition ease-in-out text-pink-950 px-2 py-1 text-xs font-medium ring-1 ring-inset ring-gray-500/10">Contactar</span></a>
				</div>
				<div class="flex flex-row gap-x-2">
					<Image src={markerIcon} alt="" class='select-none' width="24"/>
					<span>Cl. 43 #50B-39 - Barrio Abajo</span>
					<a href="https://wa.me/573003592138?text=%C2%A1Hola%21%20Estoy%20interesado%2Fa%20en%20conocer%20disponibilidad%20y%20precios." target="_blank"><span class="inline-flex items-center rounded-md bg-gray-50 hover:bg-pink-100 transition ease-in-out text-pink-950 px-2 py-1 text-xs font-medium ring-1 ring-inset ring-gray-500/10">Contactar</span></a>
				</div>
				<div class="flex flex-row gap-x-2">
					<Image src={markerIcon} alt="" class='select-none' width="24"/>
					<span>Cl. 110 #6-335 Parque Internacional del Caribe - Circunvalar</span>
					<a href="https://wa.me/573102842072?text=%C2%A1Hola%21%20Estoy%20interesado%2Fa%20en%20conocer%20disponibilidad%20y%20precios." target="_blank"><span class="inline-flex items-center rounded-md bg-gray-50 hover:bg-pink-100 transition ease-in-out text-pink-950 px-2 py-1 text-xs font-medium ring-1 ring-inset ring-gray-500/10">Contactar</span></a>
				</div>
			</div>
		</section>

		<script>
			function disableImgDragging() {
				var images = document.getElementsByTagName("img");
				for(var i = 0 ; i < images.length ; i++) {
					images[i].classList.add('no-drag');
					images[i].setAttribute('no-drag', 'on');
					images[i].setAttribute('draggable', 'false');
					images[i].addEventListener('dragstart', function( event ) {
						event.preventDefault();
					}, false);	
				}
			}
			disableImgDragging();
		</script>
	</body>
</html>

<style is:global>
	@font-face {
		font-family: 'Gill Sans';
		src: url("/src/assets/fonts/GillSans.otf");
	}
	@font-face {
		font-family: 'Gill Sans Medium';
		src: url("/src/assets/fonts/GillSansMedium.otf");
	}
	@font-face {
		font-family: 'Gill Sans Bold';
		src: url("/src/assets/fonts/GillSansBold.otf");
		font-weight: bold;
	}
</style>